*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: linear-gradient(to right, #7ae0ff, #db4cff)
    height: 100vh
    width: 100%
    background-attachment: scroll
    

.choosingPanel
    color: white
    text-shadow: 1px 1px 5px #fff
    text-align: center
    h1
        margin: auto
        padding: 30px
        width: 80%
        margin-bottom: 120px
        margin-top: 80px
        font-size: 50px
        background: #ff85ff44
        

.choose 
    display: flex 
    flex-direction: row
    justify-content: space-evenly
    

.card1
    width: 30%
    cursor: pointer
    img
        width: 40%
        border-radius: 50%
        transition: 0.5s
    h2 
        font-size: 40px
        color: #c1daff
        text-shadow: 1px 1px 5px #3be2ff
    p
        font-size: 20px
        background: #69d5ff
        padding: 20px
        margin: 10px
.card2
    width: 30%
    cursor: pointer
    img
        width: 40%
        border-radius: 50%
        transition: 0.5s
    h2 
        font-size: 40px
        color: #af1896
        text-shadow: 1px 1px 5px #af1896
    p 
        background: #9b146398
        padding: 20px
        margin: 10px
.card1:hover
    img
        width: 50%
        box-shadow: -10px 10px 15px #ff498f
    #p1
        display: block
.card2:hover
    img
        width: 50%
        box-shadow: 10px 10px 15px #00794a
    #p2
        display: block



#p1
    display: none
#p2
    display: none



.finn
    display: none
    h1
        color: #ffffff
        background: #00f7ff79
        width: 40%
        margin: auto
        margin-top: 30px
        text-align: center
        padding: 30px

    img
        width: 500px
        margin: auto
        display: block
        margin-top: 30px
    p
        font-size: 30px
        color: white
        width: 60%
        margin: auto
        text-align: center
        margin-top: 30px

.jake
    display: none
    h1
        color: #ffffff
        background: #580033b9
        width: 40%
        margin: auto
        margin-top: 30px
        text-align: center
        padding: 30px

    img
        width: 600px
        margin: auto
        display: block
        margin-top: 30px
    p
        font-size: 30px
        color: white
        width: 60%
        margin: auto
        text-align: center
        margin-top: 30px

@media screen and ( max-width: 800px )
    .choosingPanel
        h1
            font-size: 40px
    .card1
        h2
            font-size: 30px
        img
            width: 70%
    .card1:hover
        img
            width: 80%
    .card2
        h2
            font-size: 30px
        img
            width: 70%
    .card2:hover
        img
            width: 80%
    .finn
        h1
            width: 80%
        img
            width: 80%
        p
            font-size: 20px
    .jake
        h1
            width: 80%
        img
            width: 80%
        p
            font-size: 20px
    
    
    